@model IEnumerable<BloodBank.Models.BloodBag>

@{
    ViewData["Title"] = "Blood Availability";
}

<div class="container py-4">
    <h1 class="display-4 mb-4 text-center">@ViewData["Title"]</h1>

    <div class="row mb-3">
        <div class="col text-right">
            <a class="btn btn-success" asp-action="Create">Add New Blood Bag</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 10%;" scope="col">Donor ID</th>
                    <th style="width: 10%;" scope="col">Recipient ID</th>
                    <th style="width: 15%;" scope="col">Donation Date</th>
                    <th style="width: 15%;" scope="col">Expiry Date</th>
                    <th style="width: 10%;" scope="col">Blood Type</th>
                    <th style="width: 10%;" scope="col">Volume</th>          
                    <th style="width: 10%;" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Donor.DonorId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Recipient.RecipientId)</td>
                        <td>@Html.DisplayFor(modelItem => item.DonationDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.BloodType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Volume)</td>
                        
                        <td>
                            <div class="btn-group" role="group" aria-label="Actions">
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BagId">Details</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BagId">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BagId"
                                   onclick="return confirm('Are you sure you want to delete this blood bag?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
